[submodule "architecture/pu-riscv"]
	path = architecture/pu-riscv
	url = https://github.com/PacoReinaCampo/PU-RISCV.git
[submodule "architecture/pu-or1k"]
	path = architecture/pu-or1k
	url = https://github.com/PacoReinaCampo/PU-OR1K.git
[submodule "intelligence/pu-ntm"]
	path = intelligence/pu-ntm
	url = https://github.com/PacoReinaCampo/PU-NTM.git
