[submodule "pu-or1k"]
	path = pu-or1k
	url = https://github.com/PacoReinaCampo/PU-OR1K.git
[submodule "pu-msp430"]
	path = pu-msp430
	url = https://github.com/PacoReinaCampo/PU-MSP430.git
[submodule "pu-riscv"]
	path = pu-riscv
	url = https://github.com/PacoReinaCampo/PU-RISCV.git
[submodule "uvm"]
	path = uvm
	url = https://github.com/PacoReinaCampo/UVM.git
[submodule "osvvm"]
	path = osvvm
	url = https://github.com/PacoReinaCampo/OSVVM.git
